FRONTEND_URL="http://localhost:7777"
PRISMA_ENDPOINT="https://eu1.prisma.sh/sasha-6b4055/siccck-fits/dev"
PRISMA_SECRET="Jo*32lhFwehl&F@hiFWE34UFH934fhisef94HF#@"
APP_SECRET="jwtsecret123"
STRIPE_SECRET="sk_123youchanget his"
PORT=4444
